<div class="chartFilter d-none" id="filterArea">
    <div class="row searchTextFilter">
        <label id="dsTableFilterSearchLabel" for="dsChartFilterSearchText" class="dsTableFilterSearchLabel col-sm-2">Search : </label>
        <input id="dsChartFilterSearchText" class="dsChartFilterSearchText col-sm-4" type="text" placeholder="data source name - seach text" value="">
    </div>
    <div class="row">
        <div class="col-md-3 updateIntervalCheckBoxControl col-">
        </div>
        <div class="col-md-3 ewControllerCheckBoxControl">
        </div>
    </div>
</div>
<div class="row" id="chartContainer" style="height:1200px"></div>
<div class="" id="chartFooter">
    <div class="monthButtons">

        <button id="decreaseMonthButton">-</button>
        <span id="chartBackForwardMonth" ></span>
        <button id="increaseMonthButton">+</button>
    </div>

    <div class="row" id="chartLegend">
        <div class="col-md chartLegend legendAutomatic">Automatic</div>
        <div class="col-md chartLegend legendSemi">Semi-Manual</div>
        <div class="col-md chartLegend legendManual">Manual</div>
        <div class="col-md chartLegend legendUndefined">Undefined</div>
    </div>
</div>
