<div id="deactivatedDataSourcesForm">
    <form class="form-horizontal container-fluid datasourcesform">
        <div class="form-group">
            <table class="table table-condensed" id="deactivatedDataSourcesModal-table">
                <tr id="deactivatedDataSourcesTableHeadings">
                    <th>Re-Activate</th>
                    <th>Data Source</th>
                    <th>Deactivated</th>
                    <th>Parent</th>
                    <th>Comments</th>
                </tr>
                <tbody id="deactivatedDataSourcesForm-tablebody">
                <!-- History Updates table filled here by javascript -->
                </tbody>

            </table>
            <input type="button" id="btnDeactivatedDataSourceAccept" class="btn btn-primary" class="col-sm-1" value="Re-activate">
            <input type="button" id="btnDeactivatedDataSourceClose" class="btn btn-primary" class="col-sm-1" value="Close">
        </div>
    </form>
</div>
